@import 'tailwindcss';

body{
    background-color: #090A0B;
}

@theme {
    --color-background: #090A0B;
    --color-secundary: #E6E6E6;
    --color-card: #18181B;
    --color-greyFont: #A6A6A6;
    --color-borderGrey: #303036;
    --color-techBg: #242428;
}

@layer utilities {
  .typewriter {
    width: fit-content;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #E6E6E6;
    animation: tipado 1.4s steps(18, end), blink 1s alternate infinite;
  }

  @keyframes tipado {
    from {
      width: 0ch;
    }to {
      width: 50%;
    }

  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
}